/* mini reset CSS */

html,body,div,form,fieldset,legend,label {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
th,td {
    text-align:left;
    vertical-align:top;
}
h1,h2,h3,h4,h5,h6,th,td,caption {
    font-weight:normal;
}
img {
    border:0;
}

/* spacer */

body {
    font-family: 'Open Sans', sans-serif;
}

.topDiv {
    padding: 0;
}

.header {
    text-align: center;
    background-color: black;
    width: 100%;
}

.logo {
    height: 170px;
}

.navbar {
    background-color: black;
}

.navbar-toggler {
    border: 1px solid black !important;
}

.navbar-toggler:hover {
    border: 1px solid #999999 !important;
}

.nav-link {
    color: #999999 !important;
    font-weight: bold;
    padding-left: 3rem !important;
    padding-right:3rem !important;
}

.nav-link:hover {
    color: white !important;
}

ul {
    text-align: center;
}