/* https://colorhunt.co/palette/ccffbd7eca9c40394a1c1427 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.topDiv {
    padding: 0;
}

.header {
    text-align: center;
    background-color: black;
    width: 100%;
}

.logo {
    height: 170px;
}

.navbar {
    background-color: black;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    margin: auto;
}

.navbar-toggler:hover {
    border: 1px solid rgb(153,153,153) !important;
}

.nav-link {
    color: rgb(153,153,153) !important;
    font-weight: bold;
    padding-left: 3rem !important;
    padding-right:3rem !important;
}

.nav-link:hover {
    color: white !important;
}

ul {
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 0.9rem;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 2px;
}

.credit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 0.6rem;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 8px;
}

.profileImage {
    padding: 5% 0;
    margin: auto;
}

.profileText {
    padding-top: 8%
}

.aboutUs {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.infoCards {
    background-color: rgb(182, 182, 182) !important;
}

.card {
    border: 2px solid rgb(83, 83, 83) !important;
}

@media (max-width: 991px) {
    .profileText {
        padding-top: 0%
    }

    .aboutUs {
        text-align: center;
    }
}